@import 'tailwindcss';

@theme {
  --color-background: #faf9f6;
  --color-foreground: #3e2723;
  --color-primary: #c8102e;
  --color-primary-light: #e34234;
  --color-gold: #d4af37;
  --color-gold-light: #f3e5ab;
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  font-family: Arial, Helvetica, sans-serif;
}
